.alert-custom {
  background-color:#2F749D;
  border-color: #67ACD6;
}

.btn-custom {

  color: #fff;
  background-color: #67ACD6;
  border-color: #2F749D;
  min-width: 35px;
}
.btn-custom:hover {
  color: #fff;
  background-color: #0085D6;
  border-color: #67ACD6;
}

.btn-container {
  justify-content:space-between;
}
