<!--User info content-->
<div class="container">
  <div class="row imageContainer contentBackground">
    <div class="col text-center">
      <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15f2b3a2fc6%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15f2b3a2fc6%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.34375%22%20y%3D%2242%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        alt="..." class="rounded-circle">
    </div>
  </div>

  <!--First & Lastname-->
  <div class="row">
    <div class="col text-center">
      <p>{{currentUser.firstname}} {{currentUser.lastname}}</p>
    </div>
  </div>
  <!--Username & money-->
  <div class="row">
    <div class="col text-center">
      <p>{{currentUser.username}}</p>
      <p>{{currentUser.money}}
        <i class="fa fa-usd dollarIcon" aria-hidden="true"></i>
        <i class="fa fa-usd dollarIcon" aria-hidden="true"></i>
      </p>
    </div>
  </div>

  <!--Match history-->
  <div class="container containerSpace" *ngFor="let bet of recentBets">
    <div class="mainContent">
      <div class="alert alert-custom" role="alert">
        <div class="d-flex justify-content-center">
          <div class="d-flex justify-content-start">
            <p>{{bet.league}}</p>
          </div>
          <div class="d-flex ml-auto p-2">
            <p>{{bet.matchDay}} - {{bet.matchTime}}</p>
          </div>

        </div>
        <div class="d-flex justify-content-center">

          <div class="mr-auto p-2">
            <p>{{bet.homeTeam}} - {{bet.awayTeam}}</p>
          </div>
          <div class="p-2">
            <div class="btn-container">
              <p>1</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
        <div class="col"><p>ODDS: 1.10</p></div>
        <div class="col"><p>Vandt: 0 kr</p></div>
      </div>
      </div>

    </div>
  </div>





  <!-- <div class="row">
    <div class="col-12">
      <i class="fa fa-refresh icon pull-right" aria-hidden="true"></i>
    </div>
    <div *ngFor="let bet of recentBets">
      <div class="row contentBackground bets">
        <div class="col-9">
          <p>{{bet.homeTeam}}</p>
          <p>{{bet.awayTeam}}</p>
          <i>{{bet.matchDay}} : {{bet.matchTime}}</i>
          <p>Kampvinder: {{bet.homeTeam}}</p>
        </div>
        <div class="col-3">
          <p class="pull-right">50 kr</p>
        </div>
        <div class="row">
          <hr>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="col-9">
              <p class="pull-left">ODDS: {{bet.homeOdds}}</p>
            </div>
            <div class="col">
              <p class="pull-right">GEVINDST: 00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
