.imageContainer {
  padding: 40px;
  margin-bottom: 10px;
}

.dollarIcon {
  color: orange;
}

.text-normal {
  font-size: 12px;
}

.contentBackground {
  background-color:#2F749D;
  padding: 10px;
}

.icon {
  margin-top: 5px;
}

.refreshIcon {
  margin-right: 5px;
  color:white;
}

.bets {
  margin-top: 10px;
}


.alert-custom {
  background-color:#2F749D;
}


ul.nav-pills {
  text-align: center;
}
ul.nav-pills li {
  float: none;
  display: inline-block;
}
