<!--User info content-->

<div class="row imageContainer contentBackground">
  <div class="col text-center">
    <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15f2b3a2fc6%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15f2b3a2fc6%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.34375%22%20y%3D%2242%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
      alt="..." class="rounded-circle">
  </div>
</div>

<!--First & Lastname-->
<div class="row">
  <div class="col text-center">
    <p>{{currentUser.firstname}} {{currentUser.lastname}}</p>
  </div>
</div>
<!--Username & money-->
<div class="row">
  <div class="col text-center">
    <p>{{currentUser.username}}</p>
    <p>{{currentUser.money}}
      <i class="fa fa-usd dollarIcon" aria-hidden="true"></i>
      <i class="fa fa-usd dollarIcon" aria-hidden="true"></i>
    </p>
  </div>
</div>

<!--Tab Content-->
<div class="container">
  <ul class="nav nav-pills mb-3 mx-auto" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
        aria-expanded="true">Mine kampe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
        aria-expanded="true">Min profil</a>
    </li>
  </ul>
</div>
<!--Tab content-->
<div class="tab-content" id="pills-tabContent">
  <!--Mine kampe tab-->
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <!--Match history header-->
    <div class="row contentBackground">
      <div class="col text-center">
        <h5 class="">Mine kampe <span class="pull-right"><i class="fa fa-refresh refreshIcon" (click)="refreshMatchHistory()" aria-hidden="true"></i></span></h5>
      </div>
    </div>
    <br/>
    <!--Liste af kampe-->
    <div class="row" *ngFor="let bet of recentBets">
      <div class="container-fluid">
        <div class="alert alert-custom" role="alert">
          <div class="row">
            <div class="col-6">
              <p class="text-normal">{{bet.league}}</p>
            </div>
            <div class="col-6">
              <p class="text-normal pull-right">{{bet.matchDay}} - {{bet.matchTime}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-10">
              <p class="text-normal">{{bet.homeTeam}} - {{bet.awayTeam}}</p>
            </div>
            <div class="col-2">
              <p class="text-normal">1</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <p class="text-normal">ODDS: 1.10</p>
            </div>
            <div class="col">
              <p class="text-normal pull-right">Vandt: 0 kr</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Rediger profil tab-->
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="row">
      <div class="col text-center">
        <h5 class="contentBackground">Rediger profil</h5>
      </div>
    </div>
    <!--Edit User View-->
      <app-user-edit></app-user-edit>
  </div>
</div>
